@charset "utf-8";
/* 
peleta de cores
verde: #49a09d
liçás: #5f2c82
*/

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body,html{
    background-color:#5f2c82 ;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); /*cenytralizar a o elemento no centro do documento*/
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden; /*tudo que ficar fora da borda vai ficar escondido*/
    box-shadow: 0px 0px 10px black; /*caixa de sombriamento*/
    transition: width 1s, height 1s;
    transition-timing-function: ease;/*vai suavisar a animação*/

}

main{
    
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login > div#imagem {
    background:  #5f2c82  url(../imagens/pexels-pixabay-147411.jpg)no-repeat;
    height: 200px;
    background-size: cover;


}
section#login> div#formulario {
    padding: 10px;
    display: block;
}
div#formulario > h1{
    text-align: center;
    margin: 10px;

}
div#formulario > p{
    font-size: 0.8em;
}
div.campo > label{
    display: none;
}
   form > div.campo input { 
    background-color: #49a09d;
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 25px;

}
 div.campo label{
    color: white;

}
form > div.campo{
background-color: #5f2c82;
display: block;
width: 100%;
margin: 5px 0px;
padding: 5px;
border-radius: 5px;

}

form input[type=submit] {
    display: block;
    width: 100%;
    font-size: 1em;
    background-color: #49a09d;
    border: none;
    color: white;
    border-radius: 5px 5px 5px;
    padding-top: 5px;
    margin-top: 5px;
    text-decoration: none;
    height: 30px;
    
}
form input[type=submit]:hover{
    background-color: rgb(57, 96, 130);

}

form > a.botao {
    text-align: center;
    display: block;
    width: 100%;
    background-color: #49a09d8b;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
    height: 30px;
    

}
form > a.botao:hover{
    background-color: #49a09d;

}