@charset "utf-8";
/* 
peleta de cores
verde: #49a09d
liçás: #5f2c82
*/

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body,html{
    background-color:#5f2c82 ;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); /*cenytralizar a o elemento no centro do documento*/
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden; /*tudo que ficar fora da borda vai ficar escondido*/
    box-shadow: 0px 0px 10px black; /*caixa de sombriamento*/
    transition: width 1s, height 1s;
    transition-timing-function: ease;/*vai suavisar a animação*/

}

main{
    
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login > div#imagem {
    background:  #5f2c82  url(../imagens/pexels-pixabay-147411.jpg)no-repeat;
    height: 200px;
    background-size: cover;


}
section#login> div#formulario {
    padding: 10px;
    display: block;
}
div#formulario > h1{
    text-align: center;
    margin: 10px;

}
div#formulario > p{
    font-size: 0.8em;
}

